filename.json
[{"id":"3da0de9.1595e22","type":"inject","z":"ee16871.a66ed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229.51733589172363,"y":226.52085304260254,"wires":[["9d75afd7.19538"]]},{"id":"b360c1c4.4b73e","type":"console","z":"ee16871.a66ed78","name":"","active":true,"console":"false","complete":"payload","x":557.5139389038086,"y":278.33333683013916,"wires":[]},{"id":"9d75afd7.19538","type":"amazon-item-lookup","z":"ee16871.a66ed78","awsId":"","awsSecret":"","name":"","x":314.5173797607422,"y":298.9791946411133,"wires":[["b360c1c4.4b73e"]]}]